extends layout

block content

  h3= data.name
  if data.images
    p
      img(src= data.images[0].uri)
        
  p= data.profile
  
  if data.members
    h5 Members
    ul.list-inline
      each member in data.members
        li
          a(href=`${member.resource_url}`) #{member.name}

  if releases
    ul.list-inline
      each release in releases
        if release.type === 'master'
          li
            a(href=`/details/master/${release.id}`)
              img(src= release.thumb)
            h5= release.title