h1= details.title
img(src= details.thumb)
p= details.genres
p= details.styles
p= details.year

each artist in details.artists
  p= artist.name

if details.images
  img(src= details.images[0].uri150)

each track, key in details.tracklist
  ul
    li= track.position
    li= track.title
    li= track.duration